@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");

* {
    font-family: "Raleway", sans-serif;
}
body {
    background-color: #000938;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.m0 {
    margin: 0;
}
.centered {
    text-align: center;
}
.pr_container {
    color: white;
    margin: 3rem auto auto;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    backdrop-filter: blur(5px);
    max-width: 80rem;
}
.pr_container h1 {
    color: antiquewhite;
}
.pr_mockuplist {
    padding: 30px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-content: center;
}
.pr_mockuplist .pr_mockup {
    justify-self: center;
    border-radius: 2px;
    cursor: pointer;
    padding: 25px;
    background: white;
    transition: all 0.3s ease;
}
.pr_mockuplist .pr_mockup:hover {
    transform: translateY(-18px);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}
.pr_mockuplist .pr_mockup:hover h3 {
    text-shadow: 0 0 10px greenyellow;
}
.pr_mockuplist .pr_mockup img {
    border-radius: 2px;
    height: 300px;
    transition: 0.3s;
}
.pr_mockuplist .pr_mockup h3 {
    font-weight: normal;
    text-align: center;
    margin: 10px;
    color: #000938;
}

/* Mockup editor */
.pr_mockup_editor {
    padding: 30px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}
.pr_live_mockup_preview {
    position: relative;
}
.pr_live_mockup_preview img {
    width: 100%;
    border-radius: 2px;
    box-shadow: -15px -15px 20px rgba(255, 255, 255, 0.2),
        15px 15px 20px rgba(0, 0, 0, 0.5);
}
.pr_preview_loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
.pr_badge {
    font-family: monospace;
    background: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: normal;
    margin-left: 10px;
    box-shadow: 0 0 5px aquamarine;
    font-size: 14px;
}

.pr_layer_list {
    color: white;
    padding-left: 2em;
}
.pr_layer_info .pr_layer_title {
    font-weight: normal;
    margin-bottom: 25px;
}
button {
    font-size: 1em;
    text-transform: uppercase;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2),
        -5px -5px 10px rgba(0, 0, 0, 0.2);
    background: #e91e63;
    font-weight: bold;
    color: white;
    transition: 0.1s;
}
button:hover {
    box-shadow: none;
}
.pr_layer_info .pr_layer_change button {
    width: 80%;
}
.pr_btn_second {
    color: #e91e63;
    background-color: white;
    margin-right: 30px;
}
.pr_popup_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 2em;
    box-sizing: border-box;
}
.pr_popup_main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    background: #fff;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 2px;
    padding: 30px;
}
.pr_popup_main.pr_crop_preview {
    grid-template-rows: unset;
}
.pr_cropper_parent {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.pr_modal_heading {
    text-align: center;
    color: #000938;
    font-weight: normal;
}
.pr_modal_action_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr_cropped_preview {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
}
.pr_cropped_preview img {
    max-width: 80%;
    max-height: 50vh;
    justify-self: center;
    border-radius: 2px;
    box-shadow: 0 0 20px darkgrey;
}
